# Eclipse
.classpath
.project
.settings/
.recommenders/

# Intellij
.idea/
*.iml
*.iws
*.ipr
*.ipw

# NetBeans
/**/nb-configuration.xml

# Mac
.DS_Store

# Maven
lib/
log/
target/
dependency-reduced-pom.xml

deploy*
*/logs/*
bookkeeper-server/src/test/resources/*.pem
bookkeeper-server/src/test/resources/*.jks
bookkeeper-server/src/test/resources/*.p12
bookkeeper-server/src/test/resources/keyStore*.txt
